/* Import da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --cinza-transparente: #333333e5;
  --amarelo-destaque: #ffcc00;
  --azul-1: #f0f8ff;
  --azul-2: #d4e5f3;
  --cor-link: #7fffd4;
  --cinza-escuro: #333;
  --cor-hover: #ff0000;
  --fonte1: 'Poppins', sans-serif;
}

/* Reset de estilos */
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte1);
  background-color: var(--azul-1);
  color: var(--cinza-escuro);
  line-height: 1.6;
}

/* Estilos para o cabeçalho */
header {
  background-color: var(--azul-2);
  color: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para o container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Estilos para títulos */
h1 {
  color: var(--cinza-escuro);
}

h1, h2 {
  margin: 0;
  font-weight: 700;
}

/* Estilos para parágrafos */
p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

/* Estilos para a navegação */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--cinza-escuro);
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--amarelo-destaque);
}

/* Estilos para links no rodapé */
footer > div.container > p > a {
  color: var(--cor-link);
  text-decoration: none;
}

footer > div.container > p > a:hover {
  text-decoration: underline;
}

/* Estilos para a seção de portfólio */
#portfolio {
  background-color: #fff;
  padding: 40px 0;
}

.project {
  background-color: var(--azul-2);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
  text-align: center;
  margin-bottom: 10px;
}

.project p {
  text-align: justify;
  line-height: 1.6;
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cinza-escuro);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: var(--cor-hover);
}

/* Estilos para o rodapé */
footer {
  background-color: var(--cinza-escuro);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: var(--amarelo-destaque);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

  p {
    padding: 0 10px;
  }

  footer {
    padding: 10px 0;
  }
}
