@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.container {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

p {
  text-align: justify;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.4rem;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00; 
}

footer > div.container > p > a {
  color: aquamarine;
}

#portfolio {
  background-color: #f0f8ff;
  padding: 10px 0;
}

.project {
  margin-bottom: 40px;
  margin: 10px;
  width: auto;
}

.project img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  color: #555;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.project a:hover {
  background-color: #ffcc00; 
}

footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

footer a {
  color: #ffcc00; 
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  body {
    text-align: justify;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0 0 10px 0;
  }

  #portfolio .container {
    text-align: center;
  }

  .project {
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
  }

  footer a {
    color: #ffcc00; 
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
}
