/* Import da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {

  --cinza-trasparente: #333333e5;
  --amarelo-destaque: #ffcc00;
  --azul-1: #f0f8ff;
  --azul-2: #d4e5f3;
  --cor-link: #7fffd4;
  --cinza-escuro: #333;
  --cor-hover: #ff0000;

  --fonte1: 'Poppins', sans-serif;
}

/* Reset de estilos */
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte1);
  background-color: var(--cinza-trasparente);
}

/*Estilos para Main*/
main div p {
  line-height: 1.5em;
}

/* Estilos para o cabeçalho */
header {
  color: #fff;
  padding: 2rem;
}

/* Estilos para o container */
.container {
  width: 80%;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para títulos */
h1,
h2 {
  margin: 0;
}

/* Estilos para parágrafos */
p {
  text-align: justify;
}

/* Estilos para a navegação */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.4rem;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--amarelo-destaque);
}

/* Estilos para links no rodapé */
footer>div.container>p>a {
  color: var(--cor-link);
}

/* Estilos para a seção de portfólio */
#portfolio {
  background-color: var(--azul-1);
  padding: 10px 0;
}

.project {
  margin-bottom: 40px;
  margin: 10px;
  width: auto;
  background-color: var(--azul-2);
  padding: 1.2rem;
  margin-bottom: 30px;
}

.project h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.project p {
  padding: 30px;
  text-align: justify;
  line-height: 2em;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--cinza-escuro);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.project a:hover {
  color: var(--cor-hover);
  transition: color 0.3s ease;
}

.icons {
  display: grid;
  justify-content: space-around;
}

/* Estilos para o rodapé */
footer {
  background-color: var(--cinza-escuro);
  color: #fff;
  padding: 5px;
}

footer a {
  color: var(--amarelo-destaque);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0 0 10px 0;
  }

  #sobre .container {
    text-align: center;
  }

  .profile-image {
    max-width: 80%;
  }

  footer {
    background-color: var(--cinza-escuro);
    color: #fff;
    padding: 5px;
  }

  footer a {
    color: var(--amarelo-destaque);
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
}