/* Estilos Gerais */
body {
    background-color: #1c1c1c;
    font-family: var(--fonte-padrao);
    color: #000;
}

a.externo::after {
    content: '\00A0\1F517'; /* Adiciona ícone de link externo */
}

/* Cabeçalho */
header {
    background: linear-gradient(to bottom, #050505, #DF0A3D, #0A0A0C);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: #fff;
    font-family: var(--fonte-josefin);
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.27);
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #fff;
    max-width: 600px;
    padding: 0 10px 50px;
    margin: auto;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.32);
}

/* Navegação */
nav {
    background-color: #050505;
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.19);
}

nav a {
    color: #DF0A3D;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.6s, color 0.6s;
}

nav a:hover {
    background-color: #DF0A3D;
    color: #050505;
}

/* Conteúdo Principal */
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
    border-radius: 0 0 10px 10px;
}

main h1, main h2 {
    font-family: var(--fonte-josefin);
    color: var(--cor6);
}

main h1 {
    font-size: 1.8em;
}

main h2 {
    font-size: 1.3em;
    background: linear-gradient(to right, #d9d9d9, transparent);
    text-indent: 8px;
    padding: 0.2rem;
    border-radius: 10px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.7em;
}

main strong {
    color: var(--cor6);
    font-family: var(--fonte-josefin);
    font-size: 1.1em;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: var(--cor6);
    padding: 2px 6px;
    border-radius: 3px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

/* Imagens */
main img {
    width: 100%;
    height: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

/* Vídeo */
div.video {
    background-color: var(--cor7);
    margin: 0 -20px 30px;
    padding: 20px;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    position: relative;
    border-radius: 10px;
}

div.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar */
aside {
    background-color: var(--cor7);
    color: #fff;
    font-family: var(--fonte-josefin);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.28);
}

aside h3 {
    background-color: var(--cor6);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0;
    border-radius: 10px 10px 0 0;
}

aside ul {
    list-style: '\1714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

/* Rodapé */
footer {
    background-color: #050505;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer a {
    color: var(--cor6);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

/* Botão Voltar ao Topo */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    background-color: var(--cor6);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.5s;
}

#backToTopBtn:hover {
    background-color: var(--cor7);
}

/* Classes Diversas */
.myth-city {
    margin: auto;
    margin-bottom: 25px;
}