@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor6: #F20F4B;
    --cor7: #394053;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-josefin: 'Josefin Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}