/* Responsividade para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte do título */
    }

    header p {
        font-size: 1em; /* Ajusta o tamanho da fonte do parágrafo */
    }

    nav a {
        display: block; /* Torna os links da navegação blocos completos para facilitar o toque */
        margin-bottom: 5px; /* Adiciona espaçamento entre os links */
    }

    main {
        padding: 5%; /* Ajusta o espaçamento interno para dar mais respiro */
    }

    aside ul {
        columns: 1; /* Muda as colunas da lista lateral para uma única coluna */
    }
}

/* Responsividade para dispositivos com largura máxima de 480px */
@media (max-width: 480px) {
    header {
        padding-top: 20px; /* Reduz o padding superior */
        min-height: 100px; /* Reduz a altura mínima do cabeçalho */
    }

    header h1 {
        font-size: 1.2em; /* Diminui o tamanho da fonte do título para telas menores */
    }

    header p {
        font-size: 0.9em; /* Diminui o tamanho da fonte do parágrafo */
        padding-bottom: 30px; /* Reduz o espaçamento inferior */
    }

    nav {
        padding: 5px; /* Diminui o padding da navegação */
    }

    nav a {
        padding: 5px; /* Reduz o padding dos links de navegação */
    }

    div.video {
        margin: 0 -10px 20px -10px; /* Ajusta as margens do contêiner de vídeo */
        padding-bottom: 50%; /* Ajusta o aspect ratio do vídeo para se adaptar melhor a telas pequenas */
    }
}
