/* Responsividade para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 1em;
    }

    nav a {
        display: block;
        margin-bottom: 5px;
    }

    main {
        padding: 5%;
    }

    aside {
        padding: 8%;
        line-height: 1.5em;
    }

    aside ol {
        columns: 1;
    }

    aside li {
        padding: 0.4rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        align-items: center; 
        padding: 20px;
        background-color: #222; 
        color: #fff; 
        flex-direction: column;
    }
}

/* Responsividade para dispositivos com largura máxima de 480px */
@media (max-width: 480px) {
    header {
        padding-top: 20px;
        min-height: 100px;
    }

    header h1 {
        font-size: 1.2em;
    }

    header p {
        font-size: 0.9em;
        padding-bottom: 30px
    }

    nav {
        padding: 5px;
    }

    nav a {
        padding: 5px;
    }

    div.video {
        margin: 0 -10px 20px -10px;
        padding-bottom: 50%;
    }
}
