@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nanum+Myeongjo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #a9d2ef url('./src/img/sssurf.svg') bottom center no-repeat;
    background-size: cover;
}

.gif {
    margin: 1rem;
    text-align: center;
}

h1 {
    color: #034AA6;
    text-align: center;
    text-shadow: 1px 1px 2px #002d68;
    font-size: 36px;
    margin-bottom: 20px;
}


h2,
h3 {
    color: #042763;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Bree Serif", serif;
    text-align: center;
}


p {
    margin-bottom: 15px;
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 1rem;
}

strong {
    text-decoration: underline;
    font-weight: 700;
    color: #0c5dc7;
}

main {
    background-color: rgba(250, 250, 250, 0.877);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url('src/img/sssurf.svg');
        background-size: cover;
    }

    h1 {
        font-size: 40px;
    }

    .gif img {
        width: 100%;
        border-radius: 10px;
    }

    h2, h3 {
        font-size: 24px;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }
}