@charset "UTF-8";

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #f9f5e7;
    --text-color: #333;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1579097380689-4351e0a200ed?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center fixed;
    background-size: cover;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
}

main {
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: var(--secondary-color);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

nav a:hover {
    text-shadow: none;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

details summary {
    color: var(--primary-color);
    margin: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

#indice fieldset {
    border: none;
}

#indice fieldset a {
    display: block;
}

h1 {
    color: #fff;
}

h2, h4 {
    color: var(--primary-color);
}

hr {
    border: 1px solid var(--primary-color);
    margin: 20px 0;
}

article:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.proximos-livros {
    list-style-type: circle;
    list-style: inside;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
}

p {
    line-height: 1.9em;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: var(--secondary-color) 0 0 8px;
    border-radius: 4px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3498db63;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#backToTopBtn:hover {
    background-color: #2376ad;
}

i {
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    nav li {
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 8px 10px;
    }

    nav li {
        margin: 5px 0;
    }

    main {
        padding: 20px;
    }
}
