html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia', serif; /* Uma fonte que remete a livros */
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-image: url(src/imgs/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #f9f5e7;
    color: #333;
}

header {
    background-color: #3498db; /* Cor azul que remete a livros */
    padding: 15px;
    text-align: center;
}

main {
    text-align: justify; /* Alinha o texto justificado */
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #2c3e50; /* Cor azul escuro */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

nav a:hover {
    text-shadow: none;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1 {
    color: #fff;
}

h2, h4 {
    color: #3498db;
}

hr {
    border: 1px solid #3498db;
    margin: 20px 0;
}

article:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.proximos-livros {
    list-style-type: circle;
    list-style: inside;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
}

p {
    line-height: 1.9em;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: #2c3e50 0 0 8px;
    border-radius: 4px;
}

#backToTopBtn {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fixa na tela */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    z-index: 99; /* Fica acima de outros elementos */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno */
    background-color: #3498db63; /* Cor de fundo */
    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    font-size: 20px; /* Tamanho da fonte */
}

#backToTopBtn:hover {
    background-color: #2376ad; /* Cor de fundo ao passar o mouse */
}

i {
    font-size: 30px;
}


/* Estilos responsivos */
@media only screen and (max-width: 800px) {
    nav li {
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 8px 10px;
    }

    nav li {
        margin: 5px 0;
    }

    main {
        padding: 20px;
    }
}
