@import url(https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

div.relogio,
header h1,
p#horario {
  text-shadow: 4px 5px 4px #572d00;
}

#search-bar,
header,
header h1 {
  position: relative;
}

.book-card,
.book-card img {
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

footer,
header {
  padding: 20px;
  width: 100%;
  color: #eae0d5;
}

.header-bg,
footer,
header,
main {
  width: 100%;
}

footer,
header {
  color: #eae0d5;
}

.book-card,
.close,
.info-icon,
.review-arrow {
  cursor: pointer;
}

#modal-title,
.book-card img,
header h1 {
  margin-bottom: 10px;
}

#modal-title,
.close,
header h1 {
  font-weight: 700;
}

#modal-title,
#snackbar,
.book-card,
footer {
  text-align: center;
}

header {
  overflow: hidden;
  height: 200px;
  box-shadow: 13px 20px 20px 4px rgba(0, 0, 0, 0.2);
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url("../img/pexels-rachel-claire-5863535.webp") #000 center
    center/cover no-repeat;
  filter: blur(1px);
  z-index: 0;
  will-change: transform;
}

header h1 {
  z-index: 1;
  font-size: 2.5em;
  color: #ffb764;
  animation: 0.5s forwards slideInLeft;
}

div.relogio,
p#horario {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.3em;
  color: #eae0d5;
  animation: 0.5s forwards slideInRight;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#search-bar {
  z-index: 1;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border-radius: 4px;
  border: 1px solid #c6ac8f;
  transition: 0.3s;
}

#search-bar:focus {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.book-card {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgb(0 0 0 / 94%) 100%
  );
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 150px;
}

.book-card:hover {
  transform: scale(1.1) rotate(1deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.book-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.book-card h3 {
  font-size: 1em;
  margin: 10px;
}

footer {
  margin-top: auto;
  background-color: #22333b;
}

.info-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.info-icon {
  background-color: #2a9d53;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.5s ease-in-out;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #2a9d53;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover {
  background-color: rgba(0, 112, 47, 0.87);
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#snackbar,
.info-text {
  color: #eae0d5;
  border-radius: 5px;
}

.info-icon:hover {
  background-color: rgba(0, 112, 47, 0.87);
}

.info-text {
  display: none;
  margin-left: 10px;
  background-color: #0a0908;
  padding: 5px 10px;
}

.info-container.active .info-text {
  display: inline-block;
}

#review-modal,
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 22, 30, 0.7);
  justify-content: center;
  align-items: center;
  animation: 0.3s forwards fadeIn;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: 0.5s forwards slideDown;
  transform-origin: top center;
}

#review-modal-text {
  text-align: justify;
}

.review-arrow {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #598392;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #598392;
  margin-right: 10px;
}

#review-modal-title {
  margin-bottom: 0.5rem;
}

.close {
  color: #5e503f;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 20px;
  transition: 0.2s;
}

.close:hover {
  color: #e74c3c;
  transform: scale(1.2);
}

#modal-title {
  font-size: 1.5em;
  color: #0a0908;
}

#modal-author,
#modal-genre,
#modal-pages,
#modal-year {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 0.4rem;
  display: block;
  text-align: center;
}

#modal-description {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.modal.fade-out {
  animation: 0.5s forwards fadeOutModal;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #0a0908;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transition: opacity 0.5s;
}

#snackbar.show {
  visibility: visible;
  animation: 0.6s fadeInOut, 0.5s 2.8s fadeOut;
}

footer {
  margin-top: auto;
  background-color: #22333b;
  padding: 40px 20px;
  color: #eae0d5;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  flex-direction: row-reverse;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 200px;
  text-align: justify;
}

.footer-about h4,
.footer-links h4,
.footer-contact h4 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #ff8600;
  font-weight: 600;
}

.footer-about p,
.footer-contact p {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #eae0d5;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #ff8600;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer-links,
.footer-contact a {
  text-decoration: none;
  color: #eae0d5;
  font-size: 0.9em;
  transition: color 0.3s ease-in-out;
}

.footer-links,
.footer-contact a:hover {
  color: #ff8600;
  cursor: pointer;
}

.footer-contact p {
  color: #bfbfbf;
  margin-bottom: 10px;
}

.footer-contact i {
  margin-right: 8px;
}
.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  font-size: 0.9em;
  color: #bfbfbf;
  border-top: 1px solid #3a4a52;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  color: #bfbfbf;
}

.footer-bottom a {
  color: #ff8600;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.footer-bottom a:hover {
  color: #eae0d5;
}

.open-source-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    margin-bottom: 20px;
  }
}
