
/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 20px;
        margin: 20px;
    }

    nav ol {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.15rem;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }

    header {
        padding: 15px;
    }

    nav ol {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    nav a {
        padding: 50px;
    }

    main {
        padding: 15px;
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    #backToTopBtn {
        bottom: 10px;
        right: 10px;
    }
}
