@media (max-width: 768px) {
  header {
    height: 150px;
    padding: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  #search-bar {
    width: 90%;
  }

  .book-card {
    width: 120px;
  }

  .info-container {
    bottom: 10px;
    left: 10px;
  }

  .info-icon {
    width: 25px;
    height: 25px;
  }

  .close {
    font-size: 20px;
  }

  #modal-title {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  header {
    height: 120px;
    padding: 10px;
  }

  div.relogio,
  p#horario {
    font-size: 1em;
    top: 17px;
    right: 17px;
  }

  header h1 {
    font-size: 1.5em;
    text-align: left;
  }

  #search-bar {
    width: 95%;
  }

  .book-card {
    width: 100px;
  }

  .info-container {
    bottom: 5px;
    left: 5px;
  }

  .info-icon {
    width: 20px;
    height: 20px;
  }

  .close {
    font-size: 18px;
  }

  #modal-title {
    font-size: 1.1em;
  }

  #modal-author,
  #modal-genre,
  #modal-pages,
  #modal-year {
    font-size: 1em;
  }

  #review-modal-title {
    font-size: 1.1em;
  }

  #review-modal {
    width: 100%;
  }

  #review-modal-text {
    font-size: 1em;
  }

  .close {
    top: 10px;
    right: 10px;
  }
}
